<h1>Welcome to index</h1>

<% if student_signed_in? %>
    <%= link_to "Sign Out", destroy_student_session_path, data: { turbo_method: :delete } %>
<% else %>
    <%= link_to "Sign In", new_student_session_path %>
<% end %>